.bNavigation {
  background-color: #272822;
  border-right: 2px dashed;
  margin-left: 2%;
  width: 18%;
}
.bNavigation__m__MenuActive{
  margin-right: 10px;
  border: 2px solid;
  padding: 2px;
  border-radius: 5px;
}
